:root {
  --color-text-base: rgba(244, 244, 244, 1);
  --color-text-active: rgba(0, 163, 224, 1);
  --color-text-hover: rgba(0, 163, 224, 1);
  --color-link: rgba(0, 174, 243, 1);
  --color-link-hover: rgba(170, 170, 170, 1);
  --color-link-alt: rgba(0, 174, 239, 1);
  --color-link-alt-hover: rgba(0, 128, 176, 1);
  --color-border: rgba(89, 89, 89, 1);
  --color-svg-base: rgba(255, 255, 255, 1);
  --color-svg-hover: rgba(232, 230, 230, 0.68);

  --color-bg-base: rgba(22, 22, 22, 1);
  --color-bg-container: rgba(43, 43, 43, 1);
  --color-bg-header: rgba(26, 30, 31, 1);
  --color-bg-header-secondary: rgba(34, 34, 34, 0.95);
  --color-bg-sidebar: rgba(34, 34, 34, 1);
  --color-bg-overlay: rgba(24, 24, 24, 0.7);

  --font-size-m: 1.17rem;
  --font-size-l: 1.4rem;
  --font-size-xl: 1.75rem;
  --font-size-2xl: 2rem;

  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-2xl: 28px;
  --space-3xl: 38px;
  --space-4xl: 64px;

  --border-radius-s: 5px;
  --border-radius-m: 7px;

  --dot-size-s: 6px;
  --dot-size-m: 12px;
  --dot-size-l: 26px;

  --burger-menu-width: 26px;
  --burger-menu-height: 21px;
  --burger-menu-line-height: 3px;
  --top-line-translateY: 9px;
  --bottom-line-translateY: -4px;
}
