:root {
  --color-text-base: #f4f4f4;
  --color-text-active: #00a3e0;
  --color-text-hover: #00a3e0;
  --color-link: #00aef3;
  --color-link-hover: #aaaaaa;
  --color-link-alt: #00aeef;
  --color-link-alt-hover: #0080b0;
  --color-border: #595959;

  --color-bg-base: #161616;
  --color-bg-container: #2b2b2b;
  --color-bg-header: #1a1e1f;
  --color-bg-header-secondary: #222222f2;

  --font-size-s: 0.8rem;
  --font-size-m: 1.2rem;
  --font-size-l: 1.4rem;
  --font-size-xl: 1.75rem;
  --font-size-2xl: 2rem;

  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-2xl: 28px;
  --space-3xl: 38px;
  --space-4xl: 64px;

  --border-radius-s: 5px;
  --border-radius-under-m: 7px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;

  --color_0: rgba(255, 255, 255);
  --color_1: rgba(255, 255, 255);
  --color_2: rgba(0, 0, 0);
  --color_3: rgba(237, 28, 36);
  --color_4: rgba(0, 136, 203);
  --color_5: rgba(255, 203, 5);
  --color_6: rgba(114, 114, 114);
  --color_7: rgba(176, 176, 176);
  --color_8: rgba(255, 255, 255);
  --color_9: rgba(114, 114, 114);
  --color_10: rgba(176, 176, 176);
  --color_11: rgba(213, 213, 213);
  --color_12: rgba(170, 170, 170);
  --color_13: rgba(128, 128, 128);
  --color_14: rgba(85, 85, 85);
  --color_15: rgba(43, 43, 43);
  --color_16: rgba(208, 208, 208);
  --color_17: rgba(162, 162, 162);
  --color_18: rgba(115, 115, 115);
  --color_19: rgba(69, 69, 69);
  --color_20: rgba(22, 22, 22);
  --color_21: rgba(244, 244, 244);
  --color_22: rgba(195, 195, 195);
  --color_23: rgba(146, 146, 146);
  --color_24: rgba(98, 98, 98);
  --color_25: rgba(49, 49, 49);
  --color_26: rgba(210, 172, 247);
  --color_27: rgba(186, 131, 240);
  --color_28: rgba(128, 21, 232);
  --color_29: rgba(85, 14, 155);
  --color_30: rgba(43, 7, 77);
  --color_31: rgba(177, 211, 187);
  --color_32: rgba(127, 168, 139);
  --color_33: rgba(64, 124, 81);
  --color_34: rgba(43, 83, 54);
  --color_35: rgba(21, 41, 27);
  --color_36: rgba(255, 255, 255);
  --color_37: rgba(0, 0, 0);
  --color_38: rgba(232, 230, 230);
  --color_39: rgba(199, 199, 199);
  --color_40: rgba(118, 118, 118);
  --color_41: rgba(56, 74, 211);
  --color_42: rgba(0, 0, 0);
  --color_43: rgba(199, 199, 199);
  --color_44: rgba(255, 255, 255);
  --color_45: rgba(0, 0, 0);
  --color_46: rgba(0, 0, 0);
  --color_47: rgba(232, 230, 230);
  --color_48: rgba(56, 74, 211);
  --color_49: rgba(56, 74, 211);
  --color_50: rgba(255, 255, 255);
  --color_51: rgba(255, 255, 255);
  --color_52: rgba(56, 74, 211);
  --color_53: rgba(56, 74, 211);
  --color_54: rgba(199, 199, 199);
  --color_55: rgba(199, 199, 199);
  --color_56: rgba(255, 255, 255);
  --color_57: rgba(255, 255, 255);
  --color_58: rgba(56, 74, 211);
  --color_59: rgba(255, 255, 255);
  --color_60: rgba(56, 74, 211);
  --color_61: rgba(56, 74, 211);
  --color_62: rgba(255, 255, 255);
  --color_63: rgba(255, 255, 255);
  --color_64: rgba(199, 199, 199);
  --color_65: rgba(199, 199, 199);
  --font_0: normal normal normal 24px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_1: normal normal normal 16px/1.4em din-next-w01-light,
    din-next-w02-light, din-next-w10-light, sans-serif;
  --font_2: normal normal normal 20px/1.6em
      wfont_643d94_93c16d86ec9d47d0a2a36894fbdd54fd,
    wf_93c16d86ec9d47d0a2a36894f, orig_tbc_x_medium;
  --font_3: normal normal normal 48px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_4: normal normal normal 32px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_5: normal normal normal 28px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_6: normal normal normal 24px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_7: normal normal normal 18px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_8: normal normal normal 16px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_9: normal normal normal 14px/1.6em
      wfont_643d94_dd28b3957391427eb54de1c9eff7cfb1,
    wf_dd28b3957391427eb54de1c9e, orig_tbc_x_regular;
  --font_10: normal normal normal 10px/1.4em din-next-w01-light,
    din-next-w02-light, din-next-w10-light, sans-serif;
  --wix-ads-height: 0px;
  --sticky-offset: 0px;
  --wix-ads-top-height: 0px;
  --site-width: 980px;
  --above-all-z-index: 100000;
  --portals-z-index: 100001;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --minViewportSize: 320;
  --maxViewportSize: 1920;
  --theme-spx-ratio: 1px;
}
