@import url("/_variables.css");
@import url("/styles/Header.css");
@import url("/styles/Footer.css");
@import url("/styles/First_Section.css");
@import url("/styles/Second_Secion.css");
@import url("/styles/Third_Section.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-base);
  background-color: var(--color-bg-base);
}

/* custom thin scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-link-hover);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-link-alt);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-link-alt-hover);
}

::selection {
  background-color: var(--color-text-active);
  color: var(--color-text-base);
}

/* firefox */
::-moz-selection {
  background-color: var(--color-text-active);
  color: var(--color-text-base);
}

/* webKit/blink */
::-webkit-selection {
  background-color: var(--color-text-active);
  color: var(--color-text-base);
}

.content-width {
  /* width: calc(100% - 550px); */
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.header-bg-secondary {
  background-color: var(--color-bg-header-secondary);
  transition: background-color 0.3s ease-in-out;
}

/* carousel style */
.carousel-wrapper {
  width: 90%;
  margin: 0px auto;
  padding: var(--space-4xl) 0;
}
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider {
  width: 100%;
  height: 100%;
}
.slider .cards-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s ease-in-out;
}
.slider .cards-container:nth-child(1) {
  opacity: 1;
  z-index: 1;
}
.slider .cards-container article img {
  width: 250px;
}
/* nav arrows */
.controls .arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.controls .arrow svg {
  fill: var(--color-svg-base);
}
.controls .arrow:hover svg {
  fill: var(--color-svg-hover);
}
.arrow.left {
  left: 0;
}
.arrow.right {
  right: 0;
}

/* nav dots */
.controls ul {
  position: absolute;
  display: flex;
  gap: var(--space-s);
  list-style: none;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.controls ul li {
  cursor: pointer;
  display: flex;
  width: var(--dot-size-s);
  height: var(--dot-size-s);
  background-color: var(--color-link-hover);
  border-radius: 50%;
}
.controls ul li.selected-dot {
  background-color: var(--color-text-base);
}
/* animation */
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
