@import url("/_variables.css");
@import url("/styles/Header.css");
@import url("/styles/Footer.css");
@import url("/styles/First_Section.css");
@import url("/styles/Second_Secion.css");
@import url("/styles/Third_Section.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-base);
  background-color: var(--color-bg-base);
}

.container {
  position: relative;
  overflow: hidden;
}

/* custom scrollbar (thin) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-link-hover);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-link-alt);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-link-alt-hover);
}

::selection {
  background-color: var(--color-text-active);
  color: var(--color-text-base);
}

/* firefox */
::-moz-selection {
  background-color: var(--color-text-active);
  color: var(--color-text-base);
}

/* webKit/blink */
::-webkit-selection {
  background-color: var(--color-text-active);
  color: var(--color-text-base);
}

.content-width {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.header-bg-secondary {
  background-color: var(--color-bg-header-secondary);
  transition: 0.3s ease-in-out;
}
.hide-header {
  transform: translateY(-100%);
  transition: 0.3s ease-in-out;
}

/* burger menu */
.burger-menu-wrapper {
  width: 32px;
  height: 28px;
}
.burger-menu-wrapper .burger-menu-wrapper-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  vertical-align: baseline;
  transition: all 0.5s;
}
.burger-menu-wrapper
  .burger-menu-wrapper-inner
  .burger-menu-wrapper-inner-lines {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 26px;
  height: 21px;
  transition: transform 0.33s ease-out;
}
.burger-menu-wrapper
  .burger-menu-wrapper-inner
  .burger-menu-wrapper-inner-lines
  .burger-menu-wrapper-inner-lines-line {
  display: flex;
  background-color: var(--color-text-base);
  width: 100%;
  height: 3px;
  border-radius: 1.5px;
}
.burger-menu-wrapper
  .burger-menu-wrapper-inner
  .burger-menu-wrapper-inner-lines
  .burger-menu-wrapper-inner-lines-line:nth-child(1) {
  transform-origin: right;
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.burger-menu-wrapper
  .burger-menu-wrapper-inner
  .burger-menu-wrapper-inner-lines
  .burger-menu-wrapper-inner-lines-line:nth-child(odd) {
  width: 50%;
}
.burger-menu-wrapper
  .burger-menu-wrapper-inner
  .burger-menu-wrapper-inner-lines
  .burger-menu-wrapper-inner-lines-line:nth-child(3) {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.burger-menu-rotate {
  transform: rotate(-45deg);
}
.top-line-rotate {
  transform: rotate(90deg) translateX(6px);
}
.bottom-line-rotate {
  transform: rotate(-90deg) translateX(-6px);
}

/* sidebar */
.sidebar-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100dvh;
  opacity: 0;
  transform: translateX(100%);
  padding: var(--space-4xl) 0;
  transition: transform 0.5s, opacity 0.5s ease-in;
  background-color: var(--color-bg-sidebar);
  z-index: 3;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: var(--space-3xl);
  list-style-type: none;
  padding: var(--space-3xl) var(--space-xs);
}

.sidebar li a {
  font-size: var(--font-size-m);
}

.sidebar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: var(--color-bg-overlay);
  transition: opacity 0.3s ease-in;
  z-index: 2;
}
.show-overlay {
  opacity: 1;
}
.show-sidebar {
  transform: translateX(0);
  opacity: 1;
}

/* carousel */
.carousel-wrapper {
  width: 90%;
  margin: 0px auto;
  padding: var(--space-4xl) 0;
}
.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--space-4xl) 0;
}
.slider {
  width: 100%;
  height: 100%;
}
.slider .cards-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 0;
  transition: opacity 0.5s ease-in-out;
}
.slider .cards-container:nth-child(1) {
  opacity: 1;
  z-index: 1;
}
.slider .cards-container article img {
  width: 250px;
}
/* carousel nav arrows */
.controls .arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.controls .arrow svg {
  fill: var(--color-svg-base);
}
.controls .arrow:hover svg {
  fill: var(--color-svg-hover);
}
.arrow.left {
  left: 0;
}
.arrow.right {
  right: 0;
}

/* carousel nav dots */
.controls ul {
  position: absolute;
  display: flex;
  gap: var(--space-s);
  list-style: none;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  z-index: 1;
}
.controls ul li {
  cursor: pointer;
  display: flex;
  width: var(--dot-size-s);
  height: var(--dot-size-s);
  background-color: var(--color-link-hover);
  border-radius: 50%;
}
.controls ul li.selected-dot {
  background-color: var(--color-text-base);
}

/* anchor tag */
#all-questions {
  text-decoration: none;
  color: var(--color-link);
  font-size: var(--font-size-l);
  font-weight: bold;
  transition: color 0.2s ease-in;
}
#all-questions:hover {
  color: var(--color-link-hover);
}
.collapse-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .content-width {
    width: 80%;
  }
  .carousel {
    padding: 150px 0;
  }
  .slider .cards-container {
    flex-direction: column;
    gap: var(--space-l);
  }
}

@media screen and (max-width: 768px) {
  #all-questions {
    margin: var(--space-3xl) 0;
    font-weight: lighter;
    font-size: var(--font-size-m);
  }
}
