@import url("/_variables.css");
@import url("/styles/Header.css");
@import url("/styles/Footer.css");
@import url("/styles/First_Section.css");
@import url("/styles/Second_Secion.css");
@import url("/styles/Third_Section.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color-text-base);
  background-color: var(--color-bg-base);
}

/* custom thin scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-link-hover);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-link-alt);
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-link-alt-hover);
}

::selection {
  background-color: var(--color-text-active);
  color: var(--color-text-base);
}

/* firefox */
::-moz-selection {
  background-color: var(--color-text-active);
  color: var(--color-text-base);
}

/* webKit/blink */
::-webkit-selection {
  background-color: var(--color-text-active);
  color: var(--color-text-base);
}

.content-width {
  /* width: calc(100% - 550px); */
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
}

.header-bg-secondary {
  background-color: var(--color-bg-header-secondary);
  transition: background-color 0.3s ease-in-out;
}
