.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 84px;
  background-color: var(--color-bg-header);
  transition: 0.3s ease-in-out;
  z-index: 5;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  margin: 0 auto;
}
.navbar-left-logo {
  cursor: pointer;
}
.navbar-left-logo img {
  width: 182px;
  height: 40px;
}
.navbar-right-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: var(--space-2xl);
}
.navbar-list-item {
  padding: 0 10px;
  display: inline-block;
}
.navbar-list-item a {
  color: var(--color-text-base);
  text-decoration: none;
  width: 100%;
  height: 100%;
  transition: color 0.2s ease-in;
}

.navbar-list-item a:hover {
  color: var(--color-text-hover);
  transition: color 0.2s ease-in;
}
.nav-link.active {
  color: var(--color-text-active);
}

.burger-menu-wrapper {
  display: none;
}
@media screen and (max-width: 768px) {
  .navbar-right-list {
    display: none;
  }
  .burger-menu-wrapper {
    display: block;
  }
}
