.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 84px;
  background-color: var(--color-bg-header);
  transition: 0.3s ease-in-out;
  z-index: 5;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  margin: 0 auto;
}
.navbar-left-logo {
  cursor: pointer;
}
.navbar-left-logo img {
  width: 182px;
  height: 40px;
}
.navbar-right-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: var(--space-2xl);
}
.navbar-list-item {
  padding: 0 10px;
  display: inline-block;
}
.navbar-list-item a {
  color: var(--color-text-base);
  text-decoration: none;
  width: 100%;
  height: 100%;
  transition: color 0.2s ease-in;
}

.navbar-list-item a:hover {
  color: var(--color-text-hover);
  transition: color 0.2s ease-in;
}
.nav-link.active {
  color: var(--color-text-active);
}

/* burger menu */
.burger-menu {
  display: none;
  width: var(--burger-menu-width);
  height: var(--burger-menu-height);
  transition: all 0.5s;
  z-index: 7;
}
.burger-menu .burger-menu-lines {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: inherit;
  height: inherit;
}
.burger-menu .burger-menu-lines span {
  display: flex;
  background-color: var(--color-text-base);
  width: 100%;
  height: var(--burger-menu-line-height);
  border-radius: 1.5px;
}
.burger-menu .burger-menu-lines span:nth-child(odd) {
  width: 50%;
}
.burger-menu .burger-menu-lines span:nth-child(1) {
  transform-origin: right;
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.burger-menu .burger-menu-lines span:nth-child(3) {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 0.33s cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.burger-menu-rotate {
  transform: rotate(-45deg);
}
.top-line-rotate {
  transform: rotate(90deg) translateX(var(--top-line-translateY));
}
.bottom-line-rotate {
  transform: rotate(-90deg) translateX(var(--bottom-line-translateY));
}

@media screen and (max-width: 768px) {
  .navbar-right-list {
    display: none;
  }
  .burger-menu {
    display: block;
  }
  .navbar-left-logo img {
    width: 150px;
    height: 50px;
  }
}
