.third-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* top content */
.third-section-container-content-top {
  background-color: var(--color-bg-container);
  margin: var(--space-4xl) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third-section-container-carousel-wrapper {
  width: 1000px;
}
.third-section-container-carousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: var(--space-4xl);
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x-mandatory;
  scrollbar-width: none;
}
.third-section-container-carousel::-webkit-scrollbar {
  display: none;
}
.third-section-container-carousel-card {
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 200px;
  min-width: 500px;
}
/* bottom content (FAQ) */
.third-section-container-content-bottom {
  display: flex;
  justify-content: center;
}
.third-section-container-content-bottom-inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}
.third-section-container-content-bottom-inner-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.third-section-container-content-bottom-inner-title-wrapper a {
  text-decoration: none;
  color: var(--color-link);
  font-size: var(--font-size-l);
  font-weight: bold;
  transition: color 0.2s ease-in;
}
.third-section-container-content-bottom-inner-title-wrapper a:hover {
  color: var(--color-link-hover);
}
.collapse-content-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.third-section-container-content-bottom-collapse-item {
  border-bottom: 1px solid var(--color-border);
}
.collapse-item-question {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-m);
  padding: var(--space-2xl) 0;
}
.collapse-item-question img {
  transition: transform 0.3s ease;
}
