.third-section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
/* top content */
.third-section-container
  .third-section-container-content
  .third-section-container-content-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-2xl);
  margin: var(--space-4xl) auto;
  padding: var(--space-3xl) 0;
  background-color: var(--color-bg-container);
}
.third-section-container
  .third-section-container-content
  .third-section-container-content-top
  .third-section-container-content-top-title {
  font-size: var(--font-size-xl);
  font-weight: lighter;
}
.third-section-container
  .third-section-container-content
  .third-section-container-content-top
  .third-section-container-carousel-wrapper {
  overflow: hidden;
  position: relative;
  padding: var(--space-4xl) 0;
  width: 100%;
}
.third-section-container
  .third-section-container-content
  .third-section-container-content-top
  .third-section-container-carousel-wrapper
  .third-section-container-carousel {
  display: flex;
  animation: fade 3s ease-out infinite;
}
.third-section-container
  .third-section-container-content
  .third-section-container-content-top
  .third-section-container-carousel-wrapper
  .third-section-container-carousel::-webkit-scrollbar {
  display: none;
}
.third-section-container
  .third-section-container-content
  .third-section-container-content-top
  .third-section-container-carousel-wrapper
  .third-section-container-carousel
  .third-section-container-carousel-card {
  display: flex;
  align-items: center;
  flex: 0 0 33.33%;
  box-sizing: border-box;
  padding: 0 10px;
}
.third-section-container
  .third-section-container-content
  .third-section-container-content-top
  .third-section-container-carousel-wrapper
  .third-section-container-carousel
  .third-section-container-carousel-card
  img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  animation: fade 3s ease-out infinite;
}

/* bottom content (FAQ) */
.third-section-container-content-bottom {
  display: flex;
  justify-content: center;
}
.third-section-container-content-bottom-inner {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xl);
}
.third-section-container-content-bottom-inner-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.third-section-container-content-bottom-inner-title-wrapper a {
  text-decoration: none;
  color: var(--color-link);
  font-size: var(--font-size-l);
  font-weight: bold;
  transition: color 0.2s ease-in;
}
.third-section-container-content-bottom-inner-title-wrapper a:hover {
  color: var(--color-link-hover);
}
.collapse-content-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
.third-section-container-content-bottom-collapse-item {
  border-bottom: 1px solid var(--color-border);
}
.collapse-item-question {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-m);
  padding: var(--space-2xl) 0;
}
.collapse-item-question img {
  transition: transform 0.3s ease;
}

/* animation */
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
